# Flight Delay and Cancellations

In [1]:
import mysql.connector
import pandas as pd

In [9]:
con = mysql.connector.connect(host='localhost',user='root',passwd='7061',database = 'flights')

In [3]:
# print(con)

In [4]:
# c = con.cursor()

In [17]:
flight_data = pd.read_sql_query("select * from flights.dataset ;",con)
airline_data = pd.read_sql_query("select * from airlines.airline ;",con)
airport_data = pd.read_sql_query("select * from airports.airport ;",con)

C:\Users\rvaibhav\AppData\Local\Temp\ipykernel_12928\1906360577.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  flight_data = pd.read_sql_query("select * from flights.dataset ;",con)
C:\Users\rvaibhav\AppData\Local\Temp\ipykernel_12928\1906360577.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  airline_data = pd.read_sql_query("select * from airlines.airline ;",con)
C:\Users\rvaibhav\AppData\Local\Temp\ipykernel_12928\1906360577.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  airport_data = pd.read_sql_query("select * from airports.airport ;",con)

In [18]:
print("FLIGHT DATA SHAPE \n",flight_data.shape)
print("AIRLINE DATA SHAPE \n",airline_data.shape)
print("AIRPORT DATA SHAPE \n",airport_data.shape)

FLIGHT DATA SHAPE
 (5819079, 31)
AIRLINE DATA SHAPE
 (14, 2)
AIRPORT DATA SHAPE
 (322, 7)

In [21]:
flight_data.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,0005,...,0408,-22,0,0,,,,,,
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,0010,...,0741,-9,0,0,,,,,,
2,2015,1,1,4,US,840,N171US,SFO,CLT,0020,...,0811,5,0,0,,,,,,
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,0020,...,0756,-9,0,0,,,,,,
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,0025,...,0259,-21,0,0,,,,,,

In [22]:
airline_data.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [23]:
airport_data.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [24]:
flight_data.columns.values

array(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY',
       'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME',
       'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED',
       'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY',
       'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY',
       'WEATHER_DELAY'], dtype=object)

In [26]:
flight_data=flight_data[['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY',
       'SCHEDULED_TIME','DISTANCE', 'SCHEDULED_ARRIVAL',
       'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED',
       'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY',
       'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']]

# SPEED

Speed = Distance/time

In [32]:
import numpy as np

flight_data['SPEED'] = np.where(flight_data['FLIGHT_TIME_IN_MINUTES'] > 0, flight_data['DISTANCE'] / flights_data['FLIGHT_TIME_IN_MINUTES'], 0)

KeyError: 'FLIGHT_TIME_IN_MINUTES'

In [ ]:
flights_data[['SPEED','DISTANCE','FLIGHT_TIME_IN_MINUTES','ARRIVAL_DATE','DEPARTURE_DATE']].sort_values(by=["SPEED"],ascending=False)

In [ ]:
#Speed by AIRLINES
flights=flights_data[["AIRLINE","SPEED"]].groupby(['AIRLINE']).mean().reset_index()

In [ ]:
airlines_data["MEAN_SPEED"]=get_airline_information("SPEED",airlines_data,flights)
airlines_data[["AIRLINE","MEAN_SPEED"]].sort_values(by=["MEAN_SPEED"],ascending=False).head(3)