# Flight Delay and Cancellations

In [1]:
import mysql.connector
import pandas as pd

In [9]:
con = mysql.connector.connect(host='localhost',user='root',passwd='7061',database = 'flights')

In [3]:
# print(con)

In [4]:
# c = con.cursor()

In [33]:
flight_data  = pd.read_sql_query("select * from flights.dataset ;",con)
airline_data = pd.read_sql_query("select * from airlines.airline ;",con)
airport_data = pd.read_sql_query("select * from airports.airport ;",con)

C:\Users\rvaibhav\AppData\Local\Temp\ipykernel_12928\1495003204.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  flight_data  = pd.read_sql_query("select * from flights.dataset  limit 5;",con)
C:\Users\rvaibhav\AppData\Local\Temp\ipykernel_12928\1495003204.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  airline_data = pd.read_sql_query("select * from airlines.airline limit 5;",con)
C:\Users\rvaibhav\AppData\Local\Temp\ipykernel_12928\1495003204.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  airport_data = pd.read_sql_query("select * from airports.airport limit 5;",con)

In [34]:
print("FLIGHT DATA SHAPE \n",flight_data.shape)
print("AIRLINE DATA SHAPE \n",airline_data.shape)
print("AIRPORT DATA SHAPE \n",airport_data.shape)

FLIGHT DATA SHAPE
 (5, 31)
AIRLINE DATA SHAPE
 (5, 2)
AIRPORT DATA SHAPE
 (5, 7)

In [35]:
flight_data.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,0005,...,0408,-22,0,0,,,,,,
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,0010,...,0741,-9,0,0,,,,,,
2,2015,1,1,4,US,840,N171US,SFO,CLT,0020,...,0811,5,0,0,,,,,,
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,0020,...,0756,-9,0,0,,,,,,
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,0025,...,0259,-21,0,0,,,,,,

In [36]:
airline_data.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [37]:
airport_data.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [38]:
flight_data.columns.values

array(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY',
       'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME',
       'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED',
       'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY',
       'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY',
       'WEATHER_DELAY'], dtype=object)

In [39]:
flight_data=flight_data[['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY',
       'SCHEDULED_TIME','DISTANCE', 'SCHEDULED_ARRIVAL',
       'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED',
       'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY',
       'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']]

In [48]:
flight_data['DEPARTURE_TIME']=flight_data['DEPARTURE_TIME'].fillna(0)
flight_data['DEPARTURE_TIME']=flight_data['DEPARTURE_TIME'].astype(int)

In [49]:
flight_data['SCHEDULED_DEPARTURE'] = flight_data['SCHEDULED_DEPARTURE'].astype(int).apply(lambda x: f"{x:04d}")

In [51]:
flight_data['SCHEDULED_DEPARTURE'].head()

0    0005
1    0010
2    0020
3    0020
4    0025
Name: SCHEDULED_DEPARTURE, dtype: object

In [53]:
flight_data['SCHEDULED_DEPARTURE_DATE'] = (
    flight_data['YEAR'].astype(str)
    + '-' + flight_data['MONTH'].astype(str).str.zfill(2)
    + '-' + flight_data['DAY'].astype(str).str.zfill(2)
    + '-' + flight_data['SCHEDULED_DEPARTURE'].astype(str).str.zfill(4)
)

errors='coerce' means it shows NaN when any unwanted column is there

In [55]:
flight_data['SCHEDULED_DEPARTURE_DATE'] = pd.to_datetime(
    flight_data['SCHEDULED_DEPARTURE_DATE'], 
    errors='coerce', 
    infer_datetime_format=True
)

In [56]:
flight_data['DEPARTURE_DATE'] = pd.to_datetime(
    flight_data['YEAR'].astype(str) + '-' + flight_data['MONTH'].astype(str) + '-' + flight_data['DAY'].astype(str) + '-' + flight_data['DEPARTURE_TIME'].astype(str).str.zfill(4), 
    format='%Y-%m-%d-%H%M', 
    errors='coerce'
)

In [58]:
flight_data['DEPARTURE_DATE'] = pd.to_datetime(
    flight_data['YEAR'].astype(str) + '-' +
    flight_data['MONTH'].astype(str) + '-' +
    flight_data['DAY'].astype(str) + '-' +
    flight_data['DEPARTURE_TIME'].apply(lambda x: str(x).zfill(4)),
    format='%Y-%m-%d-%H%M', errors='coerce'
)

In [62]:
flight_data[['SCHEDULED_ARRIVAL', 'ARRIVAL_TIME']] = flight_data[['SCHEDULED_ARRIVAL', 'ARRIVAL_TIME']]

# SPEED

Speed = Distance/time

In [59]:
flight_data['SCHEDULED_ARRIVAL'] = flight_data['SCHEDULED_ARRIVAL'].astype(str).str.zfill(4)
flight_data['ARRIVAL_TIME'] = flight_data['ARRIVAL_TIME'].fillna(0).astype(int).astype(str).str.zfill(4)

flight_data['SCHEDULED_ARRIVAL_DATE'] = pd.to_datetime(flight_data['YEAR'].astype(str) + '-' + flight_data['MONTH'].astype(str).str.zfill(2) + '-' + flight_data['DAY'].astype(str).str.zfill(2) + '-' + flight_data['SCHEDULED_ARRIVAL'], format='%Y-%m-%d-%H%M', errors='coerce')
flight_data['ARRIVAL_DATE'] = pd.to_datetime(flight_data['YEAR'].astype(str) + '-' + flight_data['MONTH'].astype(str).str.zfill(2) + '-' + flight_data['DAY'].astype(str).str.zfill(2) + '-' + flight_data['ARRIVAL_TIME'], format='%Y-%m-%d-%H%M', errors='coerce')

In [60]:
flight_data["ARRIVAL_TIME"].head()

0    0408
1    0741
2    0811
3    0756
4    0259
Name: ARRIVAL_TIME, dtype: object

In [66]:
flight_data["FLIGHT_TIME"]=flight_data['ARRIVAL_DATE']-flight_data['DEPARTURE_DATE']

In [68]:
flight_data[["ARRIVAL_DATE","DEPARTURE_DATE",'FLIGHT_TIME']].head()

         ARRIVAL_DATE      DEPARTURE_DATE       FLIGHT_TIME
0 2015-01-01 04:08:00 2015-01-01 23:54:00 -1 days +04:14:00
1 2015-01-01 07:41:00 2015-01-01 00:02:00   0 days 07:39:00
2 2015-01-01 08:11:00 2015-01-01 00:18:00   0 days 07:53:00
3 2015-01-01 07:56:00 2015-01-01 00:15:00   0 days 07:41:00
4 2015-01-01 02:59:00 2015-01-01 00:24:00   0 days 02:35:00

In [69]:
flight_data["FLIGHT_TIME_IN_MINUTES"]=flight_data['FLIGHT_TIME'].apply(lambda x: int(x.seconds/60) if x.seconds>0 else 0)

In [71]:
import pandas as pd
import numpy as np

# convert DISTANCE and FLIGHT_TIME_IN_MINUTES columns to numeric types
flight_data['DISTANCE'] = pd.to_numeric(flight_data['DISTANCE'], errors='coerce')
flight_data['FLIGHT_TIME_IN_MINUTES'] = pd.to_numeric(flight_data['FLIGHT_TIME_IN_MINUTES'], errors='coerce')

# calculate SPEED column with conditional division
flight_data['SPEED'] = np.where(flight_data['FLIGHT_TIME_IN_MINUTES'] > 0, 
                                flight_data['DISTANCE'] / flight_data['FLIGHT_TIME_IN_MINUTES'], 
                                0)

In [73]:
flight_data[['SPEED','DISTANCE','FLIGHT_TIME_IN_MINUTES','ARRIVAL_DATE','DEPARTURE_DATE']].sort_values(by=["SPEED"],ascending=False)

,SPEED,DISTANCE,FLIGHT_TIME_IN_MINUTES,ARRIVAL_DATE,DEPARTURE_DATE
4,9.341935,1448,155,2015-01-01 02:59:00,2015-01-01 00:24:00
0,5.700787,1448,254,2015-01-01 04:08:00,2015-01-01 23:54:00
3,5.080260,2342,461,2015-01-01 07:56:00,2015-01-01 00:15:00
1,5.076253,2330,459,2015-01-01 07:41:00,2015-01-01 00:02:00
2,4.854123,2296,473,2015-01-01 08:11:00,2015-01-01 00:18:00

In [ ]:
#Speed by AIRLINES
flights=flights_data[["AIRLINE","SPEED"]].groupby(['AIRLINE']).mean().reset_index()

In [ ]:
airlines_data["MEAN_SPEED"]=get_airline_information("SPEED",airlines_data,flights)
airlines_data[["AIRLINE","MEAN_SPEED"]].sort_values(by=["MEAN_SPEED"],ascending=False).head(3)